p {
  text-align: center;
  font-size: xx-large;
  font-family: 宋体, serif;
  color:darkgray;
}
body{
  background:url("1.png.png")
}
p1{
  font-size: x-large;
  font-family:华文隶书, serif;
  background-color: #b3d4fc;
}

