p {
  font-size: x-large;
  font-family:华文隶书, serif;
  color:darkgray;
}
body{
  background:url("2.png.png")
}
p1{
  font-size: x-large;
  font-family:华文宋体, serif;
  color:lemonchiffon;
}
p3{
  font-size: xX-large;
  font-family:华文隶书, serif;
  color:black;
}
